html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#contenedor {
    display: grid;
    grid-template-columns: auto auto auto;
    direction: rtl;
    width: 100vw;
    height: 100vh;
}

#contenedor div {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: 'Anton', sans-serif;
}

.hover-effect:hover {
    opacity: 0.5;
    background-color: gray;
} 
.x {
    color: rgb(199, 20, 20) !important;
}